<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAliasCBULabel" jhiTranslate="debin1App.aliasCBU.home.createOrEditLabel">Create or edit a Alias CBU</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aliasCBU.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aliasCBU.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debin1App.aliasCBU.cbu" for="field_cbu">Cbu</label>
            <input type="text" class="form-control" name="cbu" id="field_cbu"
                [(ngModel)]="aliasCBU.cbu"
            required minlength="22" maxlength="22" pattern="[0-9]+" />
            <div [hidden]="!(editForm.controls.cbu?.dirty && editForm.controls.cbu?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cbu?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cbu?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 22 }">
                   This field is required to be at least 22 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cbu?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 22 }">
                   This field cannot be longer than 22 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cbu?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Cbu' }">
                    This field should follow pattern for "Cbu".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debin1App.aliasCBU.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="aliasCBU.nombre"
            required minlength="6" maxlength="20" />
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 6 }">
                   This field is required to be at least 6 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debin1App.aliasCBU.moneda" for="field_moneda">Moneda</label>
            <select class="form-control" name="moneda" [(ngModel)]="aliasCBU.moneda" id="field_moneda"  required>
                <option value="PESO" jhiTranslate="debin1App.Moneda.PESO">PESO</option>
                <option value="DOLAR" jhiTranslate="debin1App.Moneda.DOLAR">DOLAR</option>
            </select>
            <div [hidden]="!(editForm.controls.moneda?.dirty && editForm.controls.moneda?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.moneda?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debin1App.aliasCBU.saldo" for="field_saldo">Saldo</label>
            <input type="number" class="form-control" name="saldo" id="field_saldo"
                [(ngModel)]="aliasCBU.saldo"
            required />
            <div [hidden]="!(editForm.controls.saldo?.dirty && editForm.controls.saldo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.saldo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.saldo?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debin1App.aliasCBU.debin" for="field_debin">Debin</label>
            <input type="checkbox" class="form-check-input" name="debin" id="field_debin"
                [(ngModel)]="aliasCBU.debin"
             />
            <div [hidden]="!(editForm.controls.debin?.dirty && editForm.controls.debin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.debin?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debin1App.aliasCBU.pagador" for="field_pagador">Pagador</label>
            <input type="checkbox" class="form-check-input" name="pagador" id="field_pagador"
                [(ngModel)]="aliasCBU.pagador"
             />
            <div [hidden]="!(editForm.controls.pagador?.dirty && editForm.controls.pagador?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pagador?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="debin1App.aliasCBU.cobrador" for="field_cobrador">Cobrador</label>
            <input type="checkbox" class="form-check-input" name="cobrador" id="field_cobrador"
                [(ngModel)]="aliasCBU.cobrador"
             />
            <div [hidden]="!(editForm.controls.cobrador?.dirty && editForm.controls.cobrador?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cobrador?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="debin1App.aliasCBU.sucursal" for="field_sucursal">Sucursal</label>
            <select class="form-control" id="field_sucursal" name="sucursal" [(ngModel)]="aliasCBU.sucursal" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sucursalOption.id === aliasCBU.sucursal?.id ? aliasCBU.sucursal : sucursalOption" *ngFor="let sucursalOption of sucursals; trackBy: trackSucursalById">{{sucursalOption.denominacion}} - {{sucursalOption.banco.denominacion}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="debin1App.aliasCBU.banco" for="field_banco">Banco</label>
            <select class="form-control" id="field_banco" name="banco" [(ngModel)]="aliasCBU.banco" >
                <option [ngValue]="null"></option>
                <option [ngValue]="bancoOption.id === aliasCBU.banco?.id ? aliasCBU.banco : bancoOption" *ngFor="let bancoOption of bancos; trackBy: trackBancoById">{{bancoOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="debin1App.aliasCBU.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="aliasCBU.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === aliasCBU.user?.id ? aliasCBU.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
