<div>
  <div class="row=">
      <div class="col-md-8 offset-md-2">
          <h2>Acerca de <strong>"DEBIN"</strong></h2>

          <p>El Banco Central de la República Argentina a partir del comunicado <strong>"A" 6099</strong> dispuso la creación del medio de pago Débito Inmediato(DEBIN).</p>

          <p>Este nuevo medio de pago permitirá concretar cobros y realizar pagos de bienes y/o servicios mediante el débito y el crédito "on-line" en las cuentas configuradas para tal fin.</p>

          <p>El Débito Inmediato(DEBIN) es un medio de pago que debita de la cuenta del cliente bancario una vez que el mismo autoriza el respectivo cobro.</p>

          <h2>En cuanto a <strong>DEBIN APP...</strong></h2>
          <ul>
          <li>Servicio OnLine multiplataforma para que los clientes bancarios puedan operar la 24hs los 365 días con Débito Inmediato(DEBIN).</li>
          <li>Ver y configurar sus cuentas por medio del <strong>"Alias CBU"</strong> a la operatoria DEBIN.</li>
          <li>Generar cobros a otras cuentas que tenga la operatoria DEBIN.</li>
          <li>Autorizar o rechazar pagos de bienes y/o servicios.</li>
          <li>Actualización de saldos de manera automática ON-LINE.</li>
          <li>Ver consolidados todos los saldos de sus cuentas en un solo lugar.</li>
          </ul>
      </div>
      <div class="col-md-8 offset-md-2">
          <a routerLink="/" class="btn btn-primary">Inicio</a>
      </div>
  </div>
</div>
